<!--
  <nav>
    <div id="navbar">
      <div id="logo">
        <img src="https://cdn.worldvectorlogo.com/logos/svg-2.svg" height="25px" width="25px" alt="">
        <h1>your name</h1>    
      </div>
      <div id="options">
        <a href="#">home</a>
        <a href="#">about</a>
        <a href="#">loren</a>
        <a id="login-link" href="#">entrar</a>
      </div>
    </div>
  </nav>
-->

  <nav>
    <div id="navbar">
      <app-navigate-to id="logo" path="/" height="fit-content">
        <div id="logo">
          <img src="images/svg-2.svg" height="25px" width="25px" alt=""/>
          <h1>your name</h1>
        </div>
      </app-navigate-to>

      <div id="options">
        <app-navigate-to path="/entrar">
          <p class="round-hiperlink" id="login-link">entrar</p>
        </app-navigate-to>

        <!--<a class="round-hiperlink" id="login-link" href="/entrar">entrar</a>-->
        <!--{ this.user ? 
            <Fragment>
              <span>Conectado como: {this.user.name}</span>
              <a class="round-button" id="login-link" href="/api/logout">sair</a>
            </Fragment>
          :
            <a class="round-button" id="login-link" href="/entrar">entrar</a>
          }-->
      </div>
    </div>
</nav>