section {
  background-color: var(--color-1);
}



.table_component {
  width: 100%;
}

#payment-list {
  z-index: 2;
}

.table_component table {
  max-width: 800px;
  margin: auto;

  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
  margin-bottom: 32px;
  font-size: 0.9rem;

  td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.table_component caption {
  caption-side: top;
  text-align: left;
}

.table_component th {
  padding: 5px 8px;
  padding-top: 10px;
  color: var(--color-0);
  background-color: var(--color-2);
}

.table_component td {
  color: black;
  padding: 5px;
}


.table_component tr {
  &:nth-child(odd) {background-color: #f2f2f2;}
  &:nth-child(even) {background-color: #fff;}

  td:nth-of-type(1) {
    text-transform: capitalize;
  }
}

.accept:after {
content: '\2713';
display: inline-block;
transform: translatex(8px) scale(1.6);
color: green;
}

.reject:after {
content: '\25F7';
display: inline-block;
transform: translate(8px, -1px) scale(1);
color: gray;
}


.loading-span{
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0 8px;
  border-radius: 2px;
  background: linear-gradient(0deg, transparent 25%, rgba(157,157,157,.4) 50%, transparent 75%);
  background-size: 200% 200%;
  animation: background-animation 1s linear infinite;

  pointer-events: none;
}


.payments-summary {
  background-color: var(--color-2);
  padding: 0;
  box-shadow: var(--color-2) 0 -64px 0;
  
  h1:after {
    content: '\00a0';
  }

  div {
    padding: 16px 4px;
    padding-bottom: 0;
    color: var(--color-0);
    margin: auto;
    max-width: 800px;
  }

}

td:nth-of-type(3) {

  a {
    color: var(--color-2);
    padding: 8px 8px;
    background-color: var(--color-0);

    &:hover {
      text-decoration: underline;
    }

  }
}


#background-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 0;

  --color: var(--color-2);

  &::before {
      content: "";
      display: block;
      width: 100%;
      height: 128px;
      background-color: var(--color);
  }

  svg {
      transform: scaleY(-1);
      width: max(700px,100%);
      height: 256px;
      
      path {
        fill: var(--color);
      }
  }
}


.create-payment {
  padding: 0 !important;

  button {
    background-color: var(--color-2);
    color: var(--color-0);
    font-weight: 600;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:hover {
      background-color: var(--color-1);
      color: var(--color-2);
    }
  }
}

@keyframes background-animation {
0% {
  background-position: 0% 200%;
}
100% {
  background-position: 0% 0%;
}
}