<section class="flex-center fill-screen">

  <div id="background-image">
    <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,192L120,160C240,128,480,64,720,37.3C960,11,1200,21,1320,26.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
   </div>

    <div  id="payment-list" class="table_component">
      <div class="payments-summary">
        <div>
          <h1>{{user?.name}}</h1>
          <!--CARREGANDO-->
          <ng-container *ngIf="loading; else payment_details">
            <span>Efetuados: <span class="loading-span">...</span> </span> 
            <br/>
            <span>Pendentes: <span class="loading-span">...</span> </span>
          </ng-container>
          <!--CARREGOU-->
          <ng-template #payment_details>
            <span>Efetuados: {{paymentsInfo.closed}} </span> 
            <br/>
            <span>Pendentes: {{paymentsInfo.open}}  </span>
          </ng-template>
        </div>
      </div>





      <table id="table-component">
        <thead>
          <tr>
            <th>Mês</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

            <tr *ngFor="let month of months; let i = index">
                <td>{{ month }} </td> 
                <!--CARREGANDO-->
                <ng-container *ngIf="loading; else month_info">
                  <td> <span class="loading-span">...</span></td>
                  <td> <span class="loading-span">...</span></td>
                </ng-container>
                <!--CARREGOU-->
                <ng-template #month_info>
                  <ng-container *ngIf="response[i]?.closedAt; else month_stillOpen">
                    <td>  <span class="accept">EFETUADO</span></td>
                    <td> {{response[i].closedAt}}</td>
                  </ng-container>




                  <ng-template #month_stillOpen>
                    <td> <span class="reject">PENDENTE</span> </td>
                    <td class="create-payment">  <!--GERAR_COBRANCA-->
                      <span *ngIf="response[i]?.pixUrl; else create_payment"> <a href="{{response[i].pixUrl}}" target="_blank" rel="noopener noreferrer">{{response[i].pixUrl}}</a></span>
                      <ng-template #create_payment> <button type="button" (click)="handleClick(i)"> gerar pix </button></ng-template>
                    </td>
                  </ng-template>

                  
                </ng-template>
            </tr>
        </tbody>
      </table>
    </div>
  </section>
