<section class="flex-center fill-screen">
    <div  id="payment-list" class="table_component">
      <div>
        <h1>{{user?.name}}</h1>


        
        <!--CARREGANDO-->
        <ng-container *ngIf="loading; else payment_details">
          <span>Efetuados: <span class="loading-span">...</span> </span> 
          <br/>
          <span>Pendentes: <span class="loading-span">...</span> </span>
        </ng-container>
        <!--CARREGOU-->
        <ng-template #payment_details>
          <span>Efetuados: {{paymentsInfo.closed}} </span> 
          <br/>
          <span>Pendentes: {{paymentsInfo.open}}  </span>
        </ng-template>
      </div>


      <table >
        <thead>
          <tr>
            <th>Mês</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

            <tr *ngFor="let month of months; let i = index">
                <td>{{ month }} </td> 
                <!--CARREGANDO-->
                <ng-container *ngIf="loading; else month_info">
                  <td> <span class="loading-span">...</span></td>
                  <td> <span class="loading-span">...</span></td>
                </ng-container>
                <!--CARREGOU-->
                <ng-template #month_info>
                  <ng-container *ngIf="response[i]?.closedAt; else month_stillOpen">
                    <td>  <span class="accept">EFETUADO</span></td>
                    <td> {{response[i].closedAt}}</td>
                  </ng-container>




                  <ng-template #month_stillOpen>
                    <td> <span class="reject">PENDENTE</span> </td>
                    <td>  <!--GERAR_COBRANCA-->
                      <span *ngIf="response[i]?.pixUrl; else create_payment"> <a href="{{response[i].pixUrl}}" target="_blank" rel="noopener noreferrer">{{response[i].pixUrl}}</a></span>
                      <ng-template #create_payment> <a href="{{month}}" target="_blank" rel="noopener noreferrer">gerar pix</a></ng-template>
                    </td>
                  </ng-template>

                  
                </ng-template>
            </tr>
        </tbody>
      </table>
    </div>
  </section>
