<article class='fill-screen flex-center'>
    
    <form id="form-login" #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        <label for="login">Usuário</label>
        <input id="login" name="login" type="text" placeholder="Usuário" [(ngModel)]="user.login"/>


        <label for="password">Senha</label>
        <div>
            <input id="password" name="password" type="password" placeholder="Senha"  [(ngModel)]="user.password"/>
            <button id="show-password" class="material-symbols-outlined"type="button" onClick="foo()">visibility</button>
        </div>
        <span #formWarn id="form-warn">{{loginWarn}}</span>
        <input type="submit" value="Entrar"/>
    </form>
      
  </article>