@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --navbar-delta: 0px;
  --navbar-height: 64px;
  /*--navbar-height: 120px;*/
  --navbar-opacity: 1;
  --background-color: #fffffbff;
  --primary-color: orange;
  --secondary-color: white;
  --thirdy-color: #5b5f97ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  
  font-family: "Poppins", sans-serif;
}

html {
   scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    
    
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;    
    }
    &::-webkit-scrollbar-track:hover {
      border: #666 1px solid;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      border: #666 1px solid;
      background: #888;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  


  .round-hiperlink {

    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
  
    color: white;
    width: fit-content;
    padding: 2px 16px;
    border-radius: 100px;
    border: var(--primary-color) 2px solid;
    background-color: var(--primary-color);
    cursor: pointer;
  
    &:hover {
      background-color: var(--thirdy-color);
    }
  }

  .flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .fill-screen {
    min-height: calc(100vh - var(--navbar-height));
  }


  .user-form {

    background-color: var(--thirdy-color);


    form {
      display: flex;
      flex-direction: column;
      border: black 1px solid;
      border-radius: 8px;
      overflow: hidden;
      width: 100%;
      max-width: 480px;
      gap: 4px;
      padding: 32px;
      padding-top: 48px;
      box-shadow: var(--primary-color) 0 54px 0 -32px inset;
      background-color: white;

      #navigate-to-other-form {
        font-size: 0.7rem;
        font-weight: 600;

        width: 100%;
        text-align: end;

        &:hover {        
          text-decoration: underline;
        }
      }
    
      .form-warm {
        font-size: 0.7rem;
        color: red;
      }
    
      label {
        margin-top: 4px;
        margin-bottom: -4px;
        font-weight: 500;
        color: #333;
      }
    
      div {
        position: relative;
        width: 100%;
    
        &:has(input:placeholder-shown) > button {
          display: none;
        }
    
        input {
          width: 100%;
        }
    
        button {
          font-size: 1.3rem;
          position: absolute;
          right: 16px;
          top: 4px;
          bottom: 4px;
          background-color: transparent;
          color: #777;
        }
      }
    
      input {
        font-size: 0.9rem;
    
        &[type=submit] {
          padding: 8px;
          background-color: var(--primary-color);
          color: white;
          cursor: pointer;
          transition: box-shadow ease 300ms;
          box-shadow: var(--thirdy-color) 0 0 0 0 inset;
          margin-top: 32px;
    
          &:hover {
            box-shadow: var(--thirdy-color) -24px 0px 0px 0px inset;
          }
        }
        &[type=text],&[type=password] {
          height: 32px;
          border: gray 1px solid;
          padding: 0 16px;
          transition: box-shadow linear 150ms;
    
          &:focus {
            outline: none;
            box-shadow: var(--primary-color) 0px -2px 0px 0px inset;
          }
        }
      }
    }
  }
    